body {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input {
    width: 70%;
    height: 7px;
    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 10px #009E9E;
}

.container {

    background-color: #481750;
    margin: auto;

    /* Largura fixa */
    width: 700px;

    /* box-shadow: 0px 0px 0xp 0px rgba(0, 0, 0, 0); PADRÂO*/
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);

    border-radius: 5px;

    overflow: hidden;
}

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: space-around;
    background-color: #6f1e7e;
    margin: auto;

    /* Largura fixa */
    width: 650px;

    /* box-shadow: 0px 0px 0xp 0px rgba(0, 0, 0, 0); PADRÂO*/
    box-shadow: 1px 3px 8px 1px rgba(0, 0, 0, 0.2);

    border-radius: 5px;

    overflow: hidden;
}

.header {
    /* 1rem(16px) */
    padding: 0.93rem;
    text-align: center;
}

.header-title {
    color: #FECD23;
    /* 1rem(16px) */
    font-size: 1.8rem;
    font-weight: 600;
    /* 1rem(16px) */
    margin-bottom: 1.25rem;
}

.header-title-2 {
    color: #FFFFFF;
    /* 1rem(16px) */
    font-size: 1.55rem;
    text-align: center;
    margin: 1rem;
}

.header-subtitle,
.header-subtitle-2,
.header-subtitle-3 {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cards>div {
    background-color: #4C7DF3;
    width: 150px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 20px;
    border-style: solid;
    border-radius: 10px;
    border-width: 10px;
    border-color: #2637DA;
}

.input {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    margin: 10px;
}

button {
    width: 90px;
    height: 40px;
    background-color: #1D0C20;
    border: none;
    border-radius: 3px;
}

a {
    color: #009E9E;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.text-col {
    margin-top: 10px;
    font-size: 21px;
    font-weight: 400;
    color: #f5f5f5;
}

span {
    font-size: 15px;
    color: #f5f5f5;
}

@media screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .header-title {
        font-size: 1.4rem;
    }

    .header-title-2 {
        font-size: 1.2rem;
    }

    .header-subtitle,
    .header-subtitle-2,
    .header-subtitle-3 {
        font-size: 9px;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .container {
        width: 95%;
    }

    .container-2 {
        width: auto;
    }

}